@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-white;
  }
}

@layer components {
  .btn {
    @apply bg-main px-3 py-1 text-[17px] rounded-md border-main border-2 hover:bg-transparent hover:text-main transition;
  }
  .form {
    @apply w-full flex flex-col mt-8 gap-4 mx-auto md:w-[85%] px-6 py-4 rounded-md;
  }
  .input {
    @apply px-3 py-2 bg-transparent text-white focus:outline-none rounded-md border border-gray-500 focus:border-2 focus:border-main;
  }
  .error {
    @apply text-red-600  text-xs font-semibold px-2;
  }
  .load-btn {
    @apply opacity-60 cursor-not-allowed hover:bg-main hover:text-white;
  }
  .message-form {
    @apply fixed lg:-translate-x-[30%] -translate-x-1/2 bottom-4  left-1/2 border border-main z-10  bg-slate-950/50 rounded-lg backdrop-blur-lg 
    w-[95%] lg:w-[65%] px-4 py-3 flex items-center gap-3;
  }
  .delete-btn {
    @apply font-semibold bg-red-600 border-red-600 hover:text-red-600 btn lg:mt-6 text-sm md:text-lg lg:py-[6px] lg:block lg:w-full;
  }
}

.box-shadow {
  box-shadow: -5px 3px 62px -8px rgba(29, 178, 192, 0.69);
}

.text-shadow {
  text-shadow: 0px 0px 20px rgba(29, 178, 192, 0.69);
}
.card {
  transition: all 0.3s;
}
.card:hover {
  box-shadow: -5px 3px 30px 0px rgba(29, 178, 192, 0.69);
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1db2c0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(29, 178, 192, 0.69);
}

.loader {
  width: 40px;
  height: 40px;
  color: #1db2c0;
  background: conic-gradient(
      from -45deg at top 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 45deg at right 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 135deg at bottom 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from -135deg at left 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    );
  -webkit-animation: l4 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  animation: l4 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@-webkit-keyframes l4 {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l4 {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
